<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="theme-color" content="#e13205">
		<!-- Preload the font, files in static/ is equal to public/ -->
		<link rel="preload" href="/ica-font.woff"  as="font" type="font/woff">
		<!-- Preload the css requesting the font, if in src/*.css it'll get bundled and hashed -->
		<link rel="stylesheet" href= "/font.css">

		<!-- HTML Meta Tags -->
		<title>ICA-priset</title>
		<meta name="description" content="Ett spel där du gissar priset på varor från ICA Focus.">
			
		<!-- Facebook Meta Tags -->
		<meta property="og:url" content="https://ica-prices.vercel.app/">
		<meta property="og:type" content="website">
		<meta property="og:title" content="ICA-priset">
		<meta property="og:description" content="Ett spel där du gissar priset på varor från ICA Focus.">
		<meta property="og:image" content="https://ica-prices.vercel.app/ica-priset.jpg">
		
		<!-- Twitter Meta Tags -->
		<meta name="twitter:card" content="summary_large_image">
		<meta property="twitter:domain" content="ica-prices.vercel.app">
		<meta property="twitter:url" content="https://ica-prices.vercel.app/">
		<meta name="twitter:title" content="ICA-priset">
		<meta name="twitter:description" content="Ett spel där du gissar priset på varor från ICA Focus.">
		<meta name="twitter:image" content="https://ica-prices.vercel.app/ica-priset.jpg">


		<!-- Favicons -->
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#e13205">
		<meta name="msapplication-TileColor" content="#b91d47">
		<meta name="theme-color" content="#ffffff">

		<% preact.headEnd %>
	</head>
	<body>
		<% preact.bodyEnd %>
	</body>
</html>
