<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="theme-color" content="#e13205">

			<!-- HTML Meta Tags -->
		<title>ICA-priset</title>
		<meta name="description" content="Ett spel där du gissar priset på varor från ICA Focus.">
			
		<!-- Facebook Meta Tags -->
		<meta property="og:url" content="https://ica-prices.vercel.app/">
		<meta property="og:type" content="website">
		<meta property="og:title" content="ICA-priset">
		<meta property="og:description" content="Ett spel där du gissar priset på varor från ICA Focus.">
		<meta property="og:image" content="https://github.com/RobertZetterlund/ica-prices/blob/main/src/assets/ica-priset.jpg?raw=true">
			
		<!-- Twitter Meta Tags -->
		<meta name="twitter:card" content="summary_large_image">
		<meta property="twitter:domain" content="ica-prices.vercel.app">
		<meta property="twitter:url" content="https://ica-prices.vercel.app/">
		<meta name="twitter:title" content="ICA-priset">
		<meta name="twitter:description" content="Ett spel där du gissar priset på varor från ICA Focus.">
		<meta name="twitter:image" content="https://github.com/RobertZetterlund/ica-prices/blob/main/src/assets/ica-priset.jpg?raw=true">
		<% preact.headEnd %>
	</head>
	<body>
		<% preact.bodyEnd %>
	</body>
</html>
